body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $font-family;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  @media (max-width: 767px) {
  }
  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
}
