$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-button-color: #188ce8;
$primary-white-color: #ffffff;
$primary-footer-background: #2f303a;
$primary-background-color: #f5f4fa;
$logo-color: #000000;
$footer-text-color: rgba(255, 255, 255, 0.6);
$header-border: #ececec;
$box-border: #eeeeee;
$social-link: #afb1b8;
$icon-background-color: rgba(255, 255, 255, 0.1);
$hero-background: #c4c4c4;
$second-backgraund-color: rgba(33, 150, 243, 0.9);
$section-work-backgraund: rgba(47, 48, 58, 0.8);
$background-backdrop: rgba(0, 0, 0, 0.2);
$anim-duration: 250ms;
$anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;
